@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    input, textarea, button {
        outline: none;
    }

    p {
        line-height: 1.65;
    }
}

@layer utilities {
    .text-sm {
        @apply tracking-[0.01em]
    }

    h1 {
        @apply font-bold text-slate-900
    }

    input[type='password']:not(.no-style),
    input[type='email']:not(.no-style),
    input[type='text']:not(.no-style),
    textarea:not(.no-style) {
        @apply ring-1 ring-slate-300 rounded-md py-2 px-3 focus:ring-indigo-600
    }

    input[type='password']:disabled,
    input[type='email']:disabled,
    input[type='text']:disabled,
    textarea:disabled {
        @apply bg-slate-100 text-slate-400 cursor-text
    }

    input[type='submit'] {
        @apply cursor-pointer rounded-md bg-slate-900 text-white font-medium text-[15px] py-2 px-3 hover:bg-slate-700 focus:bg-yellow-200 focus:text-black
    }

    textarea {
        @apply flex resize-none overflow-hidden leading-[1.65]
    }

    button.primary,
    button.secondary,
    button.danger,
    a.primary,
    a.secondary,
    a.danger {
        @apply font-medium text-[15px] py-2 px-3 rounded-md outline-2 outline-offset-[3px] outline-indigo-400 focus:outline
    }

    button.primary,
    a.primary {
        @apply bg-indigo-600 text-white hover:bg-indigo-700 disabled:bg-indigo-500 disabled:hover:bg-indigo-500
    }

    button.secondary,
    a.secondary {
        @apply ring-1 ring-slate-300 hover:bg-slate-100 disabled:bg-slate-100 disabled:text-slate-400
    }

    button.danger,
    a.danger {
        @apply bg-red-600 text-white hover:bg-red-700
    }

    button:disabled,
    a:disabled {
        @apply  cursor-not-allowed
    }
}

.subtitle {
    @apply text-xl font-bold tracking-[-0.015em]
}
