@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    src: url("./assets/proxima_nova_regular.woff2");
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 400;
    src: url("./assets/proxima_nova_regular_italic.woff2");
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    src: url("./assets/proxima_nova_bold.woff2");
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 700;
    src: url("./assets/proxima_nova_bold_italic.woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply max-sm:text-[15px]
    }

    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        letter-spacing: 0.01em;
    }

    /* clears the ‘X’ from Internet Explorer */
    input[type=search]::-ms-clear,
    input[type=search]::-ms-reveal {
        display: none;
        width : 0;
        height: 0;
    }
    /* clears the ‘X’ from Chrome */
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }

    input, textarea {
        appearance: none;
        background: none;
        border: none;
        outline: none;
        -webkit-appearance: none;
    }

    p {
        line-height: 1.65;
    }

    .border, .border-l, .border-r, .border-t, .border-b {
        @apply dark:border-gray-600
    }
}

@layer utilities {
    h1 {
        @apply font-bold text-slate-900
    }

    input[type='password']:not(.no-style),
    input[type='email']:not(.no-style),
    input[type='text']:not(.no-style),
    input[type='number']:not(.no-style),
    textarea:not(.no-style) {
        @apply ring-1 ring-slate-300 py-2 px-3 rounded-md dark:bg-gray-800
    }

    input[type='password']:disabled,
    input[type='email']:disabled,
    input[type='text']:disabled,
    input[type='number']:disabled,
    textarea:disabled {
        @apply text-slate-400 cursor-text
    }

    textarea {
        @apply flex resize-none overflow-hidden leading-[1.65] dark:placeholder:text-gray-500
    }

    .primary,
    .secondary,
    .danger {
        @apply font-medium py-2 px-3 rounded-md;
        font-size: calc(1rem - 1px);
    }

    .primary {
        @apply bg-sky-600 text-white disabled:bg-sky-500 hover:bg-slate-100
    }

    .primary:not(:disabled) {
        @apply hover:bg-sky-700 dark:hover:bg-sky-500
    }

    .secondary {
        @apply ring-1 ring-slate-300 disabled:opacity-70 dark:bg-gray-800
    }

    .secondary:not(:disabled) {
        @apply hover:bg-slate-100 dark:hover:bg-gray-700/60
    }

    .secondary:disabled {
        @apply bg-slate-100
    }

    button:disabled,
    a:disabled {
        @apply cursor-not-allowed
    }
}

.text-slate-400 {
    @apply dark:text-gray-500
}

.text-sky-600 {
    @apply dark:text-sky-500
}

.text-red-600 {
    @apply dark:text-red-500
}

.text-green-600 {
    @apply dark:text-green-500
}

.font-bold, .font-semibold {
    @apply dark:text-white
}

.bg-white {
    @apply dark:bg-gray-900
}

.bg-slate-100 {
    @apply dark:bg-gray-800
}

.bg-sky-50 {
    @apply dark:bg-sky-900/30
}

.divide-y, .divide-x {
    @apply dark:divide-gray-600
}

.ring-slate-300 {
    @apply dark:ring-gray-700
}

.border-sky-600 {
    @apply dark:border-sky-500
}

.subtitle {
    @apply text-xl font-bold tracking-[0]
}

.upload-button {
    @apply cursor-pointer font-medium leading-[1.4rem] py-2 px-3 rounded-md ring-1 ring-slate-300 dark:bg-gray-800/70;
    font-size: calc(1rem - 1px);
}

.upload-button:not(:disabled) {
    @apply hover:bg-slate-100 dark:hover:bg-gray-800
}

.small-text {
    font-size: calc(1rem - 1px);
}

.small-height {
    height: calc(1.25rem - 1px);
}

.small-width {
    width: calc(1.25rem - 1px);
}