@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    input, textarea {
        @apply outline-0
    }

    p {
        line-height: 1.7;
    }
}

@layer utilities {
    h1 {
        @apply font-bold text-slate-900
    }

    input[type='password'],
    input[type='email'],
    input[type='text'],
    textarea {
        @apply ring-1 ring-slate-300 py-2 px-3 focus:ring-slate-600
    }

    input[type='password']:disabled,
    input[type='email']:disabled,
    input[type='text']:disabled,
    textarea:disabled {
        @apply bg-slate-100 text-slate-400 cursor-text
    }

    input[type='submit'] {
        @apply cursor-pointer bg-slate-900 text-white font-medium text-[15px] py-2 px-3 hover:bg-slate-700 focus:bg-yellow-200 focus:text-black
    }

    textarea {
        @apply flex resize-none overflow-hidden leading-[1.7]
    }

    button {
        @apply font-medium text-[15px] py-2 px-3 outline-none
    }

    button.primary {
        @apply bg-slate-900 text-white hover:bg-slate-700 focus:bg-yellow-200 focus:text-black
    }

    button.secondary {
        @apply bg-slate-100 hover:bg-slate-200 focus:bg-yellow-200 focus:text-black
    }

    button.danger {
        @apply bg-red-600 text-white hover:bg-red-700
    }

    button:disabled {
        @apply opacity-80 cursor-not-allowed
    }
}

.subtitle {
    @apply text-xl font-bold tracking-[-0.01em]
}
